.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
build/webpack.dev.conf.js
src/pages/lyx/allguanzhu.vue
src/pages/lyx/guanzhu.vue
src/pages/lyx/personal.vue
src/pages/lyx/starguanzhu.vue
src/pages/lyx/allguanzhu.vue
src/pages/lyx/guanzhu.vue
src/pages/lyx/personal.vue
src/pages/lyx/personal_information.vue
src/pages/lyx/starguanzhu.vue
